GAS_WEBAPP_URL="https://script.google.com/macros/s/AKfycbyPMN2vvUNysv-Tn_2YCfzNcBLHC8FluGF0BwdHt07YrKT4lHMxQqkKjYsPd2DJ2v9ekQ/exec"
GEMINI_API_KEY="AQ.Ab8RN6LlxaeneQbOEEHI7HmgTw-vLtpvNe26HxJTHna2JnGjiw"